@layer base {
  ::-webkit-scrollbar-track {
    @apply bg-gray-50;
    border-radius: 2px;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    border-radius: 15px;
  }

  @media screen and (min-width: 320px) and (max-width: 896px) and (orientation: landscape) {
    #root-wrapper {
      @apply h-full overflow-y-auto;
    }

    #mobile-navigation {
      @apply block;
    }

    #sidebar-navigation {
      @apply overflow-y-auto;
    }

    #_table-container {
      @apply min-h-[600px];
    }
  }
}
